/* .navbar {
    background-color:lightcyan;
    opacity: 0.7;
} */

.db {
    margin-right: 30px;
}
.pl {
    margin-right: 30px;
}
.tk {
    margin-right: 30px;
}
.hs {
    margin-right: 30px;
}

.notify {
    /* padding-top: 50px; */
}