.addButton {
    width: 150px;
    height: 150px;
    margin-left: 100px;
}

.slide {
    width: 675px;
}
.card {
    margin-top: 15px;
}
.toast {
    margin-left: 150px;
}

.confirmButton {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}

.blank {
    height: 20px;
}

.navbar {
    background-color:lightcyan;
    opacity: 0.7;
}

.homepage {

}